---
import data from '../../components/data.js'
import Header2 from '../../components/Header2.astro'
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Footer from '../../components/Footer.astro';

export async function getStaticPaths() {
	return data.map((projet, index) => ({
		params: { idprojet: index },
		props: projet,
	}));
}

const projet = Astro.props
---


<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

<body class="bg-Black2">
  <Header2 />
  <section class="min-h-screen bg-Black">
	<h1 class="sm:text-5xl text-3xl font-bold text-center px-5 pt-28 pb-10 text-Primary">{projet.title}</h1>
	<div class="flex flex-col sm:w-2/3 px-10 ">
		<h2 class="pb-4 sm:text-4xl text-2xl text-White">{projet.sous_titre}</h2>
		<p class="sm:text-lg text-sm text-White">{projet.description}</p>
	</div>
	{ projet.image && (
		<img class="w-full object-cover" src={projet.image} alt="placeholder"/>
	) }
	{ projet.video && (
		<video class="w-full" controls>
			<source src={projet.video} type="video/mp4"/>
		</video>
	) }
  </section>
  <Footer/>
</body>
</html>